/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    height: 100vh;
}

.heightlimited {
    height: 100%;
    overflow: hidden;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0%;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 20px 0;
}

.breadcrumb {
    margin: 0px;
}

.view-container {
    height: calc(100% - 98px);
    overflow-y: hidden;
}

.lowerpanel {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 0 10px;
    height: 34%;
}

.main {


}

.main .page-header {
    margin-top: 0;
}

#view {
    padding: 10px;
    height: 66%;
    overflow-y: auto;
    overflow-x: hidden;
}


.grid {
    height: calc(100% - 3px);
    width: calc(100% - 10px);
}

.graph-grid {

}

.graph-grid a:hover{
    text-decoration: none;
}

.graph-cell {
    display: inline-block;
    padding: 3px;
    border: 1px solid transparent;
}

.graph-cell:hover {
    border: 1px solid #888;
}



.onoffswitch {
    position: relative;
    width: 140px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "GRAPH_1";
    padding-left: 10px;
    background-color: #393C3D;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "GRAPH_2";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 106px; /*34 di meno della larghezza*/
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

div.scroll {
    overflow: scroll;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #8C8C8C;
    background: #EBEBEB;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 2px;
}

.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #F5F5F5;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #7D7D7D;
    color: #F5F5F5;
    background: none;
    background-color: #8C8C8C;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}

.node {
    stroke: #000;
    stroke-width: 1.1px;
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #bbb;
    cursor: pointer;
}

.node {
    stroke: #000;
    stroke-width: 1.1px;
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #bbb;
    cursor: pointer;
}