/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0%;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 20px 0;
}


.footer {
    position: fixed;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 20px 0;
}

.main {


}

.main .page-header {
    margin-top: 0;
}

#view {
    margin: 10px;
}

.graph-grid {

}

.graph-grid a:hover{
    text-decoration: none;
}

.graph-cell {
    display: inline-block;
    padding: 3px;
    border: 1px solid transparent;
}

.graph-cell:hover {
    border: 1px solid #888;
}



