<div id="view chart-view">
<p>This is the partial for view 2.</p>
<div class="row">
    <div class="col-sm-6">
        <!-- http://jtblin.github.io/angular-chart.js/ -->
        <canvas id="doughnut" class="chart chart-doughnut"
                data="chart0.data" labels="chart0.labels" ></canvas>
    </div>
    <div class="col-sm-6">
        <canvas id="bar" class="chart chart-bar"
                data="chart1.data" labels="chart1.labels"></canvas>
    </div>
</div>

<table>
    <tr>
        <td id="piechart"></td>
        <td id="barchart"></td>
    </tr>
</table>
</div>