<div id="view" class="graph-grid">
    <i class="glyphicon glyphicon-refresh" ng-show="loading"></i>
    <a ng-repeat="pattern in data.pattern | limitTo: limit">  <!--  href="#{{::routeBuilder.getGraphDetailUrl(pattern.id, pattern.detail)}}" -->
        <prolod-graph-thumbnail class="graph-cell" graph="pattern" color-function="colorFunction"
                                show-arrows="true" click-handler="nodeClick"></prolod-graph-thumbnail>
    </a>

    <div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Node:  <b><a href="{{ uri }}">{{uri}}</a></b></h3>
        </div>
        <div class="modal-body">
            <div>Label: <b> {{ label }}</b></div>
            <div>Triples: <b>{{ triples }}</b></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>
</div>

