<bg-splitter orientation="vertical">
    <bg-pane>
        <div id="view" class="graph-grid">
            <i class="glyphicon glyphicon-refresh" ng-show="loading"></i>
            <a ng-repeat="pattern in data.pattern | limitTo: limit">
                <!--  href="#{{::routeBuilder.getGraphDetailUrl(pattern.id, pattern.detail)}}" -->
                <prolod-graph-thumbnail class="graph-cell" graph="pattern" color-function="colorFunction"
                                        show-arrows="true" click-handler="nodeClick"></prolod-graph-thumbnail>
            </a>

            <div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-content">
                        <div class="modal-header">
                            <table width=100% height=100% margin="0" padding="0">
                                <tr>
                                    <td>
                                        <h3 class="modal-title">Node: <b>{{ label }}</b></h3>
                                    </td>
                                    <td align="right" valign="top">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                                ng-click="ok()">×
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <div ng-if="triples" align="center" class="table-view">
                                <div ui-grid="model.gridOptions" class="grid"></div>
                            </div>

                            <div ng-if="!triples" align="center" valign="middle"><i>No triples</i></div>

                            <div class="modal-footer">
                                <div align="right">Link: <a ng-href="{{ uri }}" target="_blank"> {{uri}}</a></div>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </bg-pane>

    <bg-pane>
        <div class="lowerpanel">
                <div>
                    <h3>Statistics:</h3>
                    <table class="table stats">
                        <thead>
                        <tr ng-if="stats.nodes">
                            <td>Nodes:</td>
                            <td class="align-right"><span id='number-default'>{{stats.nodes | number}}</span></td>
                        </tr>
                        <tr ng-if="stats.edges">
                            <td>Edges:</td>
                            <td class="align-right">{{stats.edges | number}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="stats.connectedComponents">
                            <td>Connected Components:</td>
                            <td class="align-right">{{stats.connectedComponents | number}}</td>
                        </tr>
                        <tr ng-if="stats.connectedComponentsMinEdges">
                            <td>&nbsp &nbsp &nbsp &nbsp &nbsp Minimum Edges:</td>
                            <td class="align-right">{{stats.connectedComponentsMinEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.connectedComponentsMaxEdges">
                            <td>&nbsp &nbsp &nbsp &nbsp &nbsp Maximum Edges:</td>
                            <td class="align-right">{{stats.connectedComponentsMaxEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.connectedComponentsAvgEdges">
                            <td>&nbsp &nbsp &nbsp &nbsp &nbsp Average Edges:</td>
                            <td class="align-right">{{stats.connectedComponentsAvgEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.stronglyConnectedComponents">
                            <td>Strongly Connected Components:</td>
                            <td class="align-right">{{stats.stronglyConnectedComponents | number}}</td>
                        </tr>
                        <tr ng-if="stats.stronglyConnectedComponentsMinEdges">
                            <td>&nbsp &nbsp &nbsp &nbsp &nbsp Minimum Edges:</td>
                            <td class="align-right">{{stats.stronglyConnectedComponentsMinEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.stronglyConnectedComponentsMaxEdges">
                            <td>&nbsp &nbsp &nbsp &nbsp &nbsp Maximum Edges:</td>
                            <td class="align-right">{{stats.stronglyConnectedComponentsMaxEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.stronglyConnectedComponentsAvgEdges">
                            <td>&nbsp &nbsp &nbsp &nbsp &nbsp Average Edges:</td>
                            <td>{{stats.stronglyConnectedComponentsAvgEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.averageDiameter">
                            <td>Average Diameter:</td>
                            <td class="align-right">{{stats.averageDiameter | number}}</td>
                        </tr>
                        <tr ng-if="stats.giantComponentEdges">
                            <td>Giant Component - Edges:</td>
                            <td class="align-right">{{stats.giantComponentEdges | number}}</td>
                        </tr>
                        <tr ng-if="stats.giantComponentNodes">
                            <td>Giant Component - Nodes:</td>
                            <td class="align-right">{{stats.giantComponentNodes | number}}</td>
                        </tr>
                        <tr ng-if="stats.giantComponentDiameter">
                            <td>Giant Component Diameter:</td>
                            <td class="align-right">{{stats.giantComponentDiameter | number}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>Class distribution:</h3>
                    <div id="pie-chart"></div>
                </div>
            </div>

        </div>
    </bg-pane>
</bg-splitter>
