<bg-splitter orientation="vertical">
    <bg-pane>
        <div id="view" class="graph-grid">
            <a ng-repeat="graph in statistics.patterns" href="#{{::routeBuilder.getGraphPatternUrl(graph.id)}}">
                <prolod-graph-thumbnail class="graph-cell" graph="graph"></prolod-graph-thumbnail>
            </a>
        </div>
    </bg-pane>
    <bg-pane ng-show="nav.view != 'index'">
        <div class="lowerpanel" ng-controller="PanelCtrl">
            <fieldset>
                <legend>Panel:</legend>
                <div class="datagrid">
                    <table>
                        <thead>
                        <tr>
                            <th>header</th>
                            <th>header</th>
                            <th>header</th>
                            <th>header</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        <tr class="alt">
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        <tr class="alt">
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Chart:</legend>
                <div id="bchart"></div>
            </fieldset>
        </div>
    </bg-pane>
</bg-splitter>

<!--
<div></div>
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch" checked>

    <label class="onoffswitch-label" for="switch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>


<script>
    $("#graph_2").hide();
</script>

<script>
    $('#switch').on('change', function () {
        if ($(this).is(':checked')) {
            $("#graph_1").show();
            $("#graph_2").hide();
        } else {
            $("#graph_1").hide();
            $("#graph_2").show();
        }
    })
</script>


<div id="graph_1"></div>
<div id="graph_2"></div>-->

