<!--
<p>This is the partial for view 2.</p>
<div class="row">
    <div class="col-sm-6">
        &lt;!&ndash; http://jtblin.github.io/angular-chart.js/ &ndash;&gt;
        <canvas id="doughnut" class="chart chart-doughnut"
                data="chart0.data" labels="chart0.labels" ></canvas>
    </div>
    <div class="col-sm-6">
        <canvas id="bar" class="chart chart-bar"
                data="chart1.data" labels="chart1.labels"></canvas>
    </div>
</div>-->

<!--
<style>

    body {
        font: 10px sans-serif;
    }

    .arc path {
        stroke: #fff;
    }

</style>-->

<style>

    .bar {
        fill: steelblue;
    }

    .bar:hover {
        fill: brown;
    }

    .axis {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

</style>

<table>
    <tr>
        <td id="piechart"></td>
        <td id="barchart"></td>
    </tr>
</table>