<style>
    /*.tipsy { font-size: 12px; position: absolute; padding: 5px; z-index: 100000; }
    .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

    *//* Rounded corners *//*
    .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

    *//* Uncomment for shadow *//*
    *//*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*//*

    .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 0px dashed #000; }

    *//* Rules to colour arrows *//*
    .tipsy-arrow-n { border-bottom-color: #000; }
    .tipsy-arrow-s { border-top-color: #000; }
    .tipsy-arrow-e { border-left-color: #000; }
    .tipsy-arrow-w { border-right-color: #000; }

    .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
    .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
    .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }*/

    div.scroll {
        overflow: scroll;
    }

    .datagrid table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
    }

    .datagrid {
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        background: #fff;
        overflow: hidden;
        border: 1px solid #8C8C8C;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .datagrid table td, .datagrid table th {
        padding: 3px 10px;
    }

    .datagrid table thead th {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
        background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
        background-color: #8C8C8C;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid #A3A3A3;
    }

    .datagrid table thead th:first-child {
        border: none;
    }

    .datagrid table tbody td {
        color: #7D7D7D;
        border-left: 1px solid #DBDBDB;
        font-size: 12px;
        font-weight: normal;
    }

    .datagrid table tbody .alt td {
        background: #EBEBEB;
        color: #7D7D7D;
    }

    .datagrid table tbody td:first-child {
        border-left: none;
    }

    .datagrid table tbody tr:last-child td {
        border-bottom: none;
    }

    .datagrid table tfoot td div {
        border-top: 1px solid #8C8C8C;
        background: #EBEBEB;
    }

    .datagrid table tfoot td {
        padding: 0;
        font-size: 12px
    }

    .datagrid table tfoot td div {
        padding: 2px;
    }

    .datagrid table tfoot td ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

    .datagrid table tfoot li {
        display: inline;
    }

    .datagrid table tfoot li a {
        text-decoration: none;
        display: inline-block;
        padding: 2px 8px;
        margin: 1px;
        color: #F5F5F5;
        border: 1px solid #8C8C8C;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
        background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
        background-color: #8C8C8C;
    }

    .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
        text-decoration: none;
        border-color: #7D7D7D;
        color: #F5F5F5;
        background: none;
        background-color: #8C8C8C;
    }

    div.dhtmlx_window_active, div.dhx_modal_cover_dv {
        position: fixed !important;
    }

    .node {
        stroke: #000;
        stroke-width: 1.1px;
        cursor: pointer;
    }

    .link {
        fill: none;
        stroke: #bbb;
        cursor: pointer;
    }

    .node {
        stroke: #000;
        stroke-width: 1.1px;
        cursor: pointer;
    }

    .link {
        fill: none;
        stroke: #bbb;
        cursor: pointer;
    }
</style>

<style>
    .onoffswitch {
        position: relative;
        width: 140px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 20px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s;
        -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "GRAPH_1";
        padding-left: 10px;
        background-color: #393C3D;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "GRAPH_2";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block;
        width: 18px;
        margin: 6px;
        background: #FFFFFF;
        border: 2px solid #999999;
        border-radius: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 106px; /*34 di meno della larghezza*/
        -moz-transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>


Graph:

<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch" checked>

    <label class="onoffswitch-label" for="switch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>


<script>
    $("#graph_2").hide();
</script>

<script>
    $('#switch').on('change', function () {
        if ($(this).is(':checked')) {
            $("#graph_1").show();
            $("#graph_2").hide();
        } else {
            $("#graph_1").hide();
            $("#graph_2").show();
        }
    })
</script>


<div id="graph_1"></div>
<div id="graph_2"></div>



<fieldset>
    <legend>Panel:</legend>
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>header</th>
                <th>header</th>
                <th>header</th>
                <th>header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr class="alt">
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr class="alt">
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>
</div>
</body>​

</fieldset>
</div>
