<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ProLOD++ 2</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/ui-grid/ui-grid.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/angular-tree-control/css/tree-control.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")">
        <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>

    </head>
    <body ng-controller="MainCtrl" ng-init="init()">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ProLOD++ 2</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row" ng-cloak>
                <div class="col-xs-3 sidebar ng-cloak" ng-controller="TreeViewController">
                    <treecontrol class="tree-classic"
                        tree-model="model.treeData"
                        options="model.treeOptions"
                        on-selection="onSelection(node)"
                        selected-node="model.selected">
                        {{node.name}} ({{node.size}})
                    </treecontrol>
                 </div>
                <!-- main content -->
                <div class="col-xs-9 col-xs-offset-3 main">
                    <div class="row">
                        <ol class="breadcrumb" ng-controller="BreadCrumbController" ng-show="model.breadcrumbs.length">
                            <li ng-repeat="crumb in model.breadcrumbs"><a href="#{{crumb.url}}">{{crumb.name}}</a></li>
                        </ol>
                    </div>
                    <div id="view" class="row" ng-view>loading...</div>
                    <div class="row">
                        <ul class="pagination" ng-if="nav.view != 'index'">
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/view0">overview</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/view1">table with detail</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/view2">charts</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/view4">graph</a></li>

                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/predicates">Predicates</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/inversePredicates">Inverse Predicates</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/associationRules">Association Rules</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/synonyms">Synonyms</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/factGeneration">FactGeneration</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/suggestions">Suggestions</a></li>
                            <li><a ng-href="#/{{nav.dataset}}/{{nav.group}}/uniqueness">uniqueness</a></li>

                        </ul>
                    </div>

                    <div class="row">Version: v<span app-version></span></div>
                </div>


            </div>
        </div>

    </body>
</html>